{% extends 'base/base.html' %}
{% load i18n %}
{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'base:calendar' %}">Calendario</a>
  </li>
  <li class="breadcrumb-item active">Por Día</li>
{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header">
      {{ day }}<br>
      Colombia
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered display dataTable" style="width:100%;">
              <caption style="text-align:right">Total: {{ sum_subdispositions_colombia }} </caption>
              <thead>
                <tr>
                  <th>Disposición | Subdisposición</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in total_subdispositions_colombia.items %}
                  <tr>
                    <td> {{ value.0.disposition.name }} | {{ value.0.name }} </td>
                    <td> {{ value.1 }} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered display dataTable" style="width:100%;">
              <caption style="text-align:right">Total: {{ sum_call_results_colombia }} </caption>
              <thead>
                <tr>
                  <th>Resultado de Llamada</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in total_call_results_colombia.items %}
                  <tr>
                    <td> {{ value.0.name }} </td>
                    <td> {{ value.1 }} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered display dataTable" style="width:100%;">
              <caption style="text-align:right">Total: {{ sum_users_colombia }} </caption>
              <thead>
                <tr>
                  <th>Agente</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in total_users_colombia.items %}
                  <tr>
                    <td> {{ value.0.first_name }} {{ value.0.last_name }} </td>
                    <td> {{ value.1 }} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="card">
    <div class="card-header">
      {{ day }}<br>
      Perú
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered display dataTable" style="width:100%;">
              <caption style="text-align:right">Total: {{ sum_subdispositions_peru }} </caption>
              <thead>
                <tr>
                  <th>Disposición | Subdisposición</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in total_subdispositions_peru.items %}
                  <tr>
                    <td> {{ value.0.disposition.name }} | {{ value.0.name }} </td>
                    <td> {{ value.1 }} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered display dataTable" style="width:100%;">
              <caption style="text-align:right">Total: {{ sum_call_results_peru }} </caption>
              <thead>
                <tr>
                  <th>Resultado de Llamada</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in total_call_results_peru.items %}
                  <tr>
                    <td> {{ value.0.name }} </td>
                    <td> {{ value.1 }} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered display dataTable" style="width:100%;">
              <caption style="text-align:right">Total: {{ sum_users_peru }} </caption>
              <thead>
                <tr>
                  <th>Agente</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in total_users_peru.items %}
                  <tr>
                    <td> {{ value.0.first_name }} {{ value.0.last_name }} </td>
                    <td> {{ value.1 }} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="card">
    <div class="card-header">
      {{ day }}<br>
      WOM
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered display dataTable" style="width:100%;">
              <caption style="text-align:right">Total: {{ sum_subdispositions_wom }} </caption>
              <thead>
                <tr>
                  <th>Disposición | Subdisposición</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in total_subdispositions_wom.items %}
                  <tr>
                    <td> {{ value.0.disposition.name }} | {{ value.0.name }} </td>
                    <td> {{ value.1 }} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered display dataTable" style="width:100%;">
              <caption style="text-align:right">Total: {{ sum_call_results_wom }} </caption>
              <thead>
                <tr>
                  <th>Resultado de Llamada</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in total_call_results_wom.items %}
                  <tr>
                    <td> {{ value.0.name }} </td>
                    <td> {{ value.1 }} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered display dataTable" style="width:100%;">
              <caption style="text-align:right">Total: {{ sum_users_wom }} </caption>
              <thead>
                <tr>
                  <th>Agente</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in total_users_wom.items %}
                  <tr>
                    <td> {{ value.0.first_name }} {{ value.0.last_name }} </td>
                    <td> {{ value.1 }} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endblock %}
