{% extends 'base/base.html' %}
{% load i18n %}
{% load auth_extra %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">
    Formularios
  </li>
{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header">
      Listar
      {% if perms.base.add_wom %}
        <a href="{% url 'base:wom_create' %}" class="btn btn-success btn-sm float-right">Registrar</a>
      {% endif %}
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered display dataTable" id="table" style="width:100%;">
          <thead>
            <tr>
              <th>Nombre del cliente</th>
              <th>Retailer Name</th>
              <th>Cédula o DNI</th>
              <th>Número de teléfono</th>
              <th>Tipo de cliente</th>
              <th>Disposición | Subdisposición</th>
              <th>Resultado de la llamada</th>
              <th>Fecha</th>
              {% if request.user|has_group:'Supervisor' or request.user|has_group:'Analista' or request.user.is_staff %}
                <th>Agente</th>
                <th>Proyecto</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for wom in object_list %}
              <tr>
                {% if perms.base.change_wom %}
                  <td><a href="{% url 'base:wom_update' wom.id %}" title="Actualizar">{{ wom.client_name }}</a></td>
                {% else %}
                  <td> {{ wom.client_name }} </td>
                {% endif %}
                <td> {{ wom.retailer_name }} </td>
                <td> {{ wom.id_number }} </td>
                <td> {{ wom.phone }} </td>
                <td> {{ wom.client_type }} </td>
                <td> {{ wom.subdisposition.disposition.name }} | {{ wom.subdisposition }} </td>
                <td> {{ wom.call_result }} </td>
                <td> {{ wom.date }} </td>
                {% if request.user|has_group:'Supervisor' or request.user|has_group:'Analista' or request.user.is_staff %}
                  <td> {{ wom.user.first_name }} {{ wom.user.last_name }} </td>
                  <td> {{ wom.user.agent.project }} </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_footer %}
  <script type="text/javascript">
    $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#table thead tr')
          .clone(true)
          .addClass('filters')
          .appendTo('#table thead');

      var table = $('#table').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
          var api = this.api();

          // For each column
          api
            .columns()
            .eq(0)
            .each(function (colIdx) {
              // Set the header cell to contain the input element
              var cell = $('.filters th').eq(
                $(api.column(colIdx).header()).index()
              );
              var title = $(cell).text();
              $(cell).html('<input type="text" placeholder="Buscar..." />');

              // On every keypress in this input
              $(
                'input',
                $('.filters th').eq($(api.column(colIdx).header()).index())
              )
                .off('keyup change')
                .on('change', function (e) {
                  // Get the search value
                  $(this).attr('title', $(this).val());
                  var regexr = '({search})'; //$(this).parents('th').find('select').val();

                  var cursorPosition = this.selectionStart;
                  // Search the column for that value
                  api
                    .column(colIdx)
                    .search(
                      this.value != ''
                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                        : '',
                      this.value != '',
                      this.value == ''
                    )
                    .draw();
                })
                .on('keyup', function (e) {
                  e.stopPropagation();

                  $(this).trigger('change');
                  $(this)
                    .focus()[0]
                    .setSelectionRange(cursorPosition, cursorPosition);
                });
            });
        },
      });
      button_datatable(table);
    });
  </script>
{% endblock %}
