<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"es-ve" }}">
  {% include 'base/head.html' %}
  <body id="page-top">
    {% include 'base/navbar.html' %}
    <div id="wrapper">
      {% include 'base/sidebar.html' %}
      <div id="content-wrapper">
        <div class="container-fluid" id="app">

          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'base:home' %}">Inicio</a>
            </li>
            {% block breadcrumb %}

            {% endblock %}
          </ol>

          <div class="row">
            <div class="col-12">
              <h1>{% block content_header_title %}{% endblock %}</h1>
            </div>
          </div>
          {% block content %}
            <div class="row">
              <div class="col-12 text-center">
                  {% if request.user.is_authenticated %}
                    <p>Bienvenido {{ request.user.username }}.</p>
                  {% else %}
                    <p>Bienvenido al sistema.</p>
                    <p>Inicie sesión para registrar los datos.</p>
                  {% endif %}
              </div>
            </div>
          {% endblock %}
        </div>
        {% include 'base/footer_info.html' %}
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    {% include 'base/footer.html' %}
    {% block extra_footer %}

    {% endblock %}
    <script type="text/javascript">
      $(document).ready(function()
        {
          // obtiene la url actual del sistema
          const route = '{{ request.path }}';

          // rutas de formularios wom
          const wom_list = '/wom/';
          const wom_create = '/wom/create/';
          const wom_update = '/wom/update/';
          const wom_delete = '/wom/delete/';

          // rutas de encuestas
          const survey_upload = '/surveys/upload/';

          // rutas de calendarios
          const calendar_list = '/calendars/';

          // rutas de usuario agentes
          const agent_list = '/users/agents/';
          const agent_create = '/users/agents/create/';

          if( route == '/' ) {
            $('#ba').addClass('active');
          }
          else if( route == wom_list || route == wom_create || route == wom_update || route == wom_delete ) {
            $('#wom').addClass('active');
          }
          else if ( route == calendar_list ) {
            $('#calendar').addClass('active');
          }
          else if( route == survey_upload ) {
            $('#survey').addClass('active');
          }
          else if( route == agent_list || route == agent_create ) {
            $('#agent').addClass('active');
          }
        });
    </script>
  </body>
</html>
